name: Deploy

on:
  workflow_run:
    workflows: ["Test"]
    types: [ completed ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: calculator-jar
          path: artifacts

      - name: Display artifact
        run: ls -la artifacts

      - name: Deploy application
        run: |
          echo "Deploying application..."
          echo "Deployment done"
