name: Deploy

on:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: calculator-jar
          path: artifacts

      - name: Display artifact
        run: ls -la artifacts

      - name: Deploy application
        run: |
          echo "Deploying application..."
          echo "Deployment finished"

